<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h2>Edit User</h2>
<br>
<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input type="hidden" name="id" th:value="*{id}"/>
    <input type="text" th:field="*{username}" placeholder="Username">
    <input type="text" th:field="*{firstName}" placeholder="First Name">
    <input type="number" th:field="*{age}" placeholder="Age">
    <input type="email" th:field="*{email}" placeholder="Email">
    <input type="password" th:field="*{password}" placeholder="Password">

    <label for="role">Role:</label>
    <select name="roleId" id="role">
        <option value="">-- Select Role --</option>
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${role.name}"
                th:selected="${#lists.contains(user.roles, role)}">
        </option>
    </select>

    <input type="submit" value="Edit User"/>
</form>
</body>
</html>